.color-picker{
    width: 180px;
    height: 180px;
    border-radius: 1rem;
    overflow: hidden;
    padding: 0;
  }
  
  .color-text{
    padding: 0.5rem 1rem;
    background-color: #f9f9f9;
    border: 1px solid #a8a8a8;
    border-radius: 0.5rem;
  }

  .btn-guardar{
        background-color: #628ccc;
        color: #f9f9f9;
        border-radius: 0.5rem;
        padding: 8px;
    
        &:hover{
            background-color: #3a557c;
            color: #000000;
        }
  }

  .btn-eliminar{
        background-color: #e06615;
        color: #f9f9f9;
        border-radius: 0.5rem;
        padding: 6px;
    
        &:hover{
            background-color: #80390a;
            color: #000000;
        }
  }