
  h1{
    font-size: 10rem;
  }
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .primero{
    color: #ff0000;
  }
  .segundo{
    color: #e5ff00;
  
  }
  .tercero{
    color: #00ff00;
  
  }
  .cuarto{
    color: #003cff;
  
  }
  .quinto{
    color: #c300ff;
  
  }