body{
    background-color: #272727;
}

.thirdExercise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .forthExercise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .divForth{
    background-color: rgb(100, 25, 122);
    padding: 50px;
  }

  .todoListForth{
  list-style: none;
  padding: 0;
  }
  

  .sixthExercise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .sixthSection{
    background-color: #f9f9f9;
    padding: 50px;
  }

.eighthSection{
    display: flex;
    justify-content: center;
}

.btnData{
    background-color: rgb(51, 51, 51);
}

.formEighth{
    margin-top: 200px;
    max-width: 1000px;
    background-color: rgb(189, 124, 189);
    padding: 50px;
}